@import '../../../index.scss';

.footer {
    background: $black;
    color: white;
    padding: 50px 100px 30px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0;

    .footer_content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
        margin-bottom: 30px;

        .footer_col {
            display: flex;
            flex-direction: column;
            gap: 15px;

            &.footer_col_logo {
                .logo_section {
                    display: flex;
                    align-items: center;
                    margin-bottom: 0px;

                    .logo_image {
                        margin-top: -20px;
                        width: 200px;
                        height: 100px;
                        object-fit: contain;
                    }
                }

                .license_text {
                    margin-top: -30px;
                    font-size: 16px;
                    color: white;
                    opacity: 0.9;
                }
            }

            &.footer_col_contact {
                .footer_heading {
                    font-size: 20px;
                    font-weight: 600;
                    color: white;
                    // margin: 0 0 15px 0;
                }

                .contact_details {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    p {
                        font-size: 16px;
                        color: white;
                        margin: 0;
                        line-height: 1.5;

                        a {
                            color: white;
                            text-decoration: none;
                            transition: opacity 0.3s ease;

                            &:hover {
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }

            &.footer_col_social {
                .footer_heading {
                    font-size: 20px;
                    font-weight: 600;
                    color: white;
                }

                .social_description {
                    font-size: 16px;
                    color: white;
                    // margin: 0 0 15px 0;
                }

                .social_icons {
                    display: flex;
                    gap: 20px;

                    .social_icon {
                        width: 35px;
                        height: 35px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-decoration: none;
                        transition: all 0.3s ease;

                        .social_icon_image {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }

    .footer_copyright {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .copyright_divider {
            width: 100%;
            height: 1px;
            background: rgba(255, 255, 255, 0.3);
        }

        .copyright_text {
            font-size: 18px;
            color: white;
            margin: 0;
            text-align: center;
        }
    }
}

@media (max-width: 1024px) {
    .footer {
        padding: 40px 50px 25px;

        .footer_content {
            gap: 40px;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 35px 30px 20px;

        .footer_content {
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: center;
            justify-content: center;

            .footer_col {
                &.footer_col_logo {
                    .logo_section {
                        .heart_icon {
                            font-size: 22px;
                        }

                        .company_name {
                            font-size: 22px;
                        }
                    }

                    .license_text {
                        font-size: 16px;
                    }
                }

                &.footer_col_contact,
                &.footer_col_social {
                    .footer_heading {
                        font-size: 22px;
                    }

                    .contact_details p,
                    .social_description {
                        font-size: 17px;
                    }
                }
            }
        }

        .footer_copyright {
            .copyright_text {
                font-size: 15px;
            }
        }
    }
}

@media (max-width: 600px) {
    .footer {
        .footer_content {
            .footer_col {
                align-items: center;
                text-align: center;

                &.footer_col_logo {
                    .logo_section {
                        justify-content: center;
                    }

                    .license_text {
                        text-align: center;
                    }
                }

                &.footer_col_contact {
                    .footer_heading {
                        text-align: center;
                    }

                    .contact_details {
                        align-items: center;
                        text-align: center;

                        p {
                            text-align: center;
                        }
                    }
                }

                &.footer_col_social {
                    .footer_heading {
                        text-align: center;
                    }

                    .social_description {
                        text-align: center;
                    }

                    .social_icons {
                        justify-content: center;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 30px 20px 15px;

        .footer_content {
            gap: 25px;

            .footer_col {
                &.footer_col_logo {
                    .license_text {
                        font-size: 15px;
                    }
                }

                &.footer_col_contact,
                &.footer_col_social {
                    .footer_heading {
                        font-size: 20px;
                    }

                    .contact_details p,
                    .social_description {
                        font-size: 16px;
                    }
                }

                &.footer_col_social {
                    .social_icons {
                        .social_icon {
                            width: 35px;
                            height: 35px;
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        .footer_copyright {
            .copyright_text {
                font-size: 14px;
            }
        }
    }
}
